{% extends 'base.html' %}


{% block content %} 


<h1>Inicio</h1>
    <p> 
        <button href="/forjas">
        Registro Forjas
        </button>

        <button>
        Consulta Forjas
        </button>
    </p>
    <p>
     <button>
        Registro Barretas
        </button>
        <button>
        Consulta Barretas
        </button>
    </p>
    <p>
        <button>
        Registro Zapapicos
        </button>
        <button>
            Consulta Zapapicos
        </button>
    </p>
{% endblock %}