{% extends 'base.html' %}


{% block content %} 


<h1>Principal</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus consectetur doloremque iusto delectus, odio expedita nostrum nobis, explicabo earum esse ex, cupiditate repellat soluta vero veniam maxime dolorem voluptatem eaque modi error laudantium ea facilis praesentium. Nam corporis vitae quibusdam, modi ab ullam placeat voluptas itaque officia consectetur id voluptatibus dolores neque expedita iste iure odit deleniti voluptate, distinctio quasi consequatur explicabo laborum! Reiciendis, facere facilis consequatur animi commodi minus numquam rerum, similique ipsum earum doloremque in nostrum id? Autem, dolorem unde? Culpa autem quidem laudantium veritatis labore dolor. Laborum voluptatem in tempore odio illo, asperiores saepe fugit magnam eaque?</p>

{% endblock %}